
.navbar{
  background: rgba(255, 255, 255, 0.25) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  position: absolute;
  font-weight: bold;
  width: 95%;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px); 
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


img {
  width: 100px;
  cursor: pointer;
}

.onglets {
  display: flex;
  list-style-type: none;
}

.onglets li {
  margin: 10px;
}

.onglets li a {
  text-decoration: none;
  color: #000;
  padding-bottom: 5px;
}

.searchInput {
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(4px); 
  background: rgba(255, 255, 255, 0.25);

}

@media (max-width: 769px) {

  .restau {
    display: flex;
    flex-direction: column-reverse;

  }

  .slide-container {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-direction: column-reverse;
  }
  .menu .description {
    padding: 20px;
}


  .offre-container .offre-content {
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-content hr {
    transform: rotate(0deg) !important;
    margin: 30px;
  }

  .menu .carousel {
    display: none;
  }

.menu .carousel img{
    height: 200px;
}

.offre-container .offre-item {
  width: 400px !important;
  height: 200px !important;
  margin-bottom: 10px;
  background-color: #fff;
}

.offre-container .offre-item img{
  width: 350px !important;
  height: 170px !important;
}

  .reserver {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

}